<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-cloak="">
        <h3>Admin {{userLoginData.currentUser.username}}</h3>
        <button ng-click="discUser()">Déconnexion</button>
    </div>
    <div class="container">

        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#general">Général</a></li>
        <li><a data-toggle="tab" data-target="#repartition">Répartition</a></li>
    </ul>
        <div class="tab-content">

    <!-- tableau général d'édition-->
            <table id="general" class="tab-pane fade in active">
                <tbody>
                <tr>
                    <th ng-click="sortBy('title')">Titre 
                        <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('category')">Catégorie
                        <span class="sortorder" ng-show="propertyName === 'category'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="width: 5em;">Username</th>
                    <th ng-click="sortBy('created')">Date
                        <span class="sortorder" ng-show="propertyName === 'created'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-click="sortBy('moderation')">Publier
                        <span class="sortorder" ng-show="propertyName === 'moderation'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>Supprimer</th>
                </tr>
                <tr ng-repeat="item in listArticle | orderBy:propertyName:reverse" ng-click="readArticle(item)" style="height: 0.5em;">
                    <td>{{item.title}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.postedBy.username}}</td>
                    <td>{{item.created}}</td>
                    <td ng-click="setIsPublished(item)"><button>{{item.moderation}}</button></td>
                    <td style="width:5em">
                        <md-icon ng-click="deleteArticle(item)" style="height: 0.5em; width: 0.5em;" md-svg-src="../images/ic_delete_forever_black_24px.svg"></md-icon>
                    </td>

                </tr>
                </tbody>
            </table>

            <!--graph repartition-->
            <div id="repartition" class="tab-pane fade">
                <p>Graph repartition</p>
                <p>Cat</p>
                <p>Fav/cat</p>
            </div>
        </div>
    </div>
</body>
</html>