<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-cloak="">
        <h3>Bienvenue {{userLoginData.currentUser.username}}</h3>
        <button ng-click="writeOpen()">Ecrire</button>
        <button ng-click="updateProfil()">Modifier le profil</button>
        <button ng-click="discUser()">Déconnexion</button>

    </div>
    <div class="container">

        <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#general">Général</a></li>
        <li><a data-toggle="tab" data-target="#detail">Détail</a></li>
        <li><a data-toggle="tab" data-target="#repartition">Répartition</a></li>
    </ul>
        <div class="tab-content">

    <!-- tableau général d'édition-->
            <table id="general" class="tab-pane fade in active">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Time</th>
                    <th>Favoris</th>
                    <th style="width: 5em;">Editer</th>
                    <th>Publier</th>
                    <th>Supprimer</th>
                </tr>
                <tr ng-repeat="item in listArticle" style="height: 0.5em;">
                    <td>{{item.title}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.created}}</td>
                    <td>{{item.tracker.stars}}</td>
                    
                    <td style="width:5em"><md-icon class="s24" md-svg-src="../images/ic_mode_edit_black_24px.svg"></md-icon></td>
                    <td>{{item.moderation}}</td>
                    <td style="width:5em"><md-icon style="height: 0.5em; width: 0.5em;" md-svg-src="../images/ic_delete_forever_black_24px.svg"></md-icon></td>

                </tr>
                </tbody>
            </table>

            <!--tableau détail ( nbetoile, nb text, nb vue)-->
            <table id="detail" class="tab-pane fade">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Etoiles</th>
                    <th>Vues</th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat=""></tr>
                </tbody>
            </table>
            <!--graph repartition-->
            <div id="repartition" class="tab-pane fade">
                <p>Graph repartition</p>
            </div>
        </div>
    </div>
</body>
</html>