<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <flash-message></flash-message>
            <h3 class="panel-title">Inscrivez-vous pour écrire vos histoires</h3>
          </div>
          <div class="panel-body">

            <form role="form" name="rgtUser" ng-submit="registerUser()">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="pseudo" ng-model="pseudo" id="pseudo" ng-minlength="3" ng-maxlength="20" check-duplicate-d-b="pseudo" ng-model-options="{ debounce :  800, updateOn : 'blur' }" class="form-control input-sm" placeholder="Pseudo">
                    <span ng-show="pseudoavailable">MARCEL </span>

                    <div ng-if="rgtUser.pseudo.$dirty" ng-messages="rgtUser.pseudo.$error" class="my-messages" role="alert">
                      <div ng-message="minlength">Pseudo trop court</div>
                      <div ng-message="maxlength">Pseudo trop long</div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="file" name="avatar " ng-model="avatar" id="avatar" class="form-control input-sm" placeholder="avatar">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email1" ng-model="email1"  ng-minlength="10" id="email1" check-duplicate-d-b="email1" class="form-control input-sm" placeholder="Email Adresse">
              </div>


              <div class="form-group">
                <input type="email" name="email2" id="email2" ng-model="email2" ng-model-options="{ debounce :  800, updateOn : 'blur' }" check-same-directive="email1" class="form-control input-sm" placeholder="Confirmer Email Adresse">
                <div ng-if="rgtUser.email2.$dirty" ng-messages="rgtUser.email2.$error" class="my-messages" role="alert">
                  <div ng-message="minlength">Email trop court</div>
                  <div ng-message="checkerrormatch">L'email ne correspond pas!</div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" ng-model="password" id="password" ng-minlength="3" ng-maxlength="20" class="form-control input-sm" placeholder="Mot de passe"/>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password2" ng-model="password2" ng-model-options="{ debounce :  800, updateOn : 'blur' }" id="password2" ng-minlength="4" ng-maxlength="20" check-same-directive="password" class="form-control input-sm" placeholder="Confirmer Mot de Passe"/>

                    <div ng-messages="rgtUser.password2.$error" ng-if="rgtUser.password2.$dirty" class="my-messages" role="alert">
                      <div ng-message="minlength" class="some-message" >Mot de passe trop court </div>
                      <div ng-message="maxlength" class="some-message" >Mot de passe trop long</div>
                      <div ng-message="checkerrormatch" class="some-message" >Le mot de passe ne correspond pas</div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="g-recaptcha" data-sitekey="6LeSHA0UAAAAABdIBfIgmveWjIBepUUu7d1D7G-H"></div>

              <input type="submit" value="Valider" ng-disabled="rgtUser.$invalid || myForm.$pending" class="btn btn-info btn-block">

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
