<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">MyStories</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/">Catégories</a>
        </li>
        <li>
          <a href="#/">Tops</a>
        </li>
        <li>
          <a class="glyphicon glyphicon-search" href="#/"> Recherche</a>
        </li>

      </ul>
      <div *ngIf="!authenticated" class="loginscript">
          <button type="button" class="inscription btn-sm btn-default" (click)='goRegister()' >Inscription</button>
          <button type="button" class="login btn-sm btn-default" (click)='expandLogin(loginFormExpand)' >Connexion</button>
      </div>
        <div *ngIf="authenticated" class="loginscript">
            <div class="glyphicon glyphicon-user" (click)="toPanelUser()" style="background-color: white"></div>
        </div>
      <div *ngIf="!authenticated" class="loginFormExpand">
          <form *ngIf="loginFormExpand" #loginForm="ngForm">
              <input type="text" name="email" [(ngModel)]="logindata.email" placeholder="Email"/>
              <input type="password" name="password" [(ngModel)]="logindata.password" placeholder="mot de passe"/>
              <button type="submit" (click)="loginUser(logindata)">Valider</button>
          </form>
      </div>
      <!-- <div *ngIf="userLoginData.loginConfirm==='notVerified'" class='msgErrorLogin'>
            <p>L'email de cet utilisateur n'a pas été vérifié</p>
      </div>
      <div *ngIf="userLoginData.loginConfirm==='notValid'" class='msgErrorLogin'>
            <p>Cet utilisateur n'éxiste pas</p>
      </div> -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


 <router-outlet></router-outlet>

