<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  ng-controller="menuController" >
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">MyStories</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/">Catégories</a>
          </li>
          <li>
            <a href="#/">Tops</a>
          </li>
          <li>
            <a class="glyphicon glyphicon-search" href="#/"> Recherche</a>
          </li>

        </ul>
        <button type="button" class="inscription btn-sm btn-default" ng-click='goRegister()'>Inscription</button>
        <div class="iconConnexion">
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

</body>
</html>
